<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Jerry Kwophi Supernatural (+233247792110)"/>
    <meta name="description" content="ALX Project work"/>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <title>Weather App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/styles.css')?id={{id}} }}">
    <link href="{{ url_for('static', filename='styles/all.css')?id={{id}} }}" rel="stylesheet">
     <script src="{{ url_for('static', filename='scripts/all.js')?id={{id}} }}"></script>
</head>
<body>
    <div class="weather-app">
        <div class="current-weather">
            <h2 id="city">City</h2>
            <p id="date">Date</p>
            <div class="weather-icon">
		    <img id="current-icon" src="{{ url_for('static', filename='images/sunny')?id={{id}} }}" alt="Weather Icon">
            </div>
            <div class="temperature">
                <span id="current-temp">0</span>°
            </div>
            <p id="description">Description</p>

            <div class="details">
                <div class="detail" >
                  <i class="fa fa-tint"></i>
                  <div>Humidity</div>
                  <div id="humidity">0%</div>
                </div>
                <div class="detail">
                  <i class="fa fa-umbrella"></i>
                    <div>Precipitation</div>
                    <div id="precipitation">0%</div>
                </div>
                <div class="detail">
                  <i class="fa fa-wind"></i>
                    <div>Windy</div>
                    <div id="wind">0 km/h</div>
                </div>
            </div>

        </div>
        <div class="weekly-forecast" >
            <h5>Next 2 Days</h5>
            <div class="forecast" id="forecast-container">
                <!-- Forecast days will be dynamically added here -->
            </div>
	    <a href="{{ url_for('subscribe') }}" class="btn">Subscribe</a>
        </div>
    </div>
    <script src="{{ url_for('static', filename='scripts/script.js')?id={{id}} }}"></script>
</body>
</html>
