<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="author" content="Jerry Kwophi Supernatural (+233247792110)"/>
		<meta name="description" content="ALX Project work"/>
		<link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
		<title>Weather App</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='styles/styles.css', id=id) }}">
		<!--<script src="{{ url_for('static', filename='scripts/all.js') }}?id={{ id }}"></script>-->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" /><!-- FontAwesome Fonts -->
	</head>
	<body>
		<div class="weather-app">
			<div class="current-weather">
				<h2 id="city">{{ country  }} {{ weather['data'][0]['city_name'] }}
					<img alt="country_image" src="https://flagsapi.com/{{ country_code }}/flat/64.png" />

				</h2>
				<p id="date">{{ weather['data'][0]['datetime']  }}</p>
				<div class="weather-icon">
					<img id="current-icon" src="https://cdn.weatherbit.io/static/img/icons/{{ weather['data'][0]['weather']['icon'] }}.png" alt="Weather Icon">
				</div>
				<div class="temperature">
					<span id="current-temp">{{ weather['data'][0]['temp'] }}</span>°
				</div>
				<p id="description"> {{ weather['data'][0]['weather']['description'] }}</p>

				<div class="details">
					<div class="detail" >
						<i class="fa fa-tint"></i>
						<div>Humidity</div>
						<div id="humidity">{{ weather['data'][0]['rh'] }}%</div>
					</div>
					<div class="detail">
						<i class="fa fa-tachometer"></i>
						<div>Pressure</div>
						<div id="pressure">{{ weather['data'][0]['pres'] }}mb</div>
					</div>
					<div class="detail">
						<i class="fa fa-wind"></i>
						<div>Windy</div>
						<div id="wind">{{ weather['data'][0]['wind_spd'] }} m/s</div>
					</div>
				</div>

			</div>
			<div class="weekly-forecast" >
				<h5>Next 2 Days</h5>
				<div class="forecast" id="forecast-container">
					<!-- Forecast days will be dynamically added here -->
				</div>
				<a href="{{ url_for('subscribe') }}" class="btn">Subscribe</a>
			</div>
		</div>
		<script src="{{ url_for('static', filename='scripts/script.js', id=id) }}"></script>
	</body>
</html>
